@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(40 40 40);
    color: white;
    padding: 10px;
    text-align: center;
}
body {
    background-image: url('pictures/Universe.jpeg');
    background-size: cover;
}
.title {
    cursor: pointer;
    padding: 10px;
    border-top: 1px solid white;
    text-align: left;
}
.title :hover{
    font-size: 30px;
}
.drop-down {
    background-color: rgb(100 100 100);
    margin: auto;
    width: 70%;
    padding: 20px 20px;
    transform: translateY(50px);
    border-radius: 10px;
    color: white;
}
.drop-down .title::before {
    content: '\002b';
    color: white;
    position: absolute;
    right: 30px;
    font-size: 30px;
    transition: transform .2s ease-out;
}
.content {
    height: 0;
    overflow: scroll;
    transition: .5s;
    color: white;
    text-align: center;
}
.title.active + .content {
    height: 230px;
}
.title.active::before{
    transform: rotate(45deg);
}
img {
    width: 200px;
    border-radius: 5px;
    border: 1px white solid;
}
#section1 {
    background-image: url('pictures/uyscuti.jpeg');
    border-radius: 5px;
}
#section2 {
    background-image: url('pictures/ton618.jpeg');
    border-radius: 5px;
}
#section3 {
    background-image: url('pictures/Shapley.jpeg');
    border-radius: 5px;
}


