@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
}
body {
    background-color: lightblue;
}
.title {
    cursor: pointer;
    padding: 5px;
    border: 2px green;
}
.drop-down {
    background-color: lightcoral;
    margin: auto;
    width: 70%;
    padding: 20px 20px;
    transform: translateY(50px);
    border-radius: 10px;
}
.drop-down .title::before {
    content: '+';
    color: black;
    position: absolute;
    right: 80px;
    font-size: 30px;
}
.content {
    display: none;
}
.title.active + .content {
    display: block;
    border-bottom: 5px black;
}
.title.active::before {
    content: '-'
}